<div>
    <p>Ingresar Nombre Grupo: </p>
    <input type="text" #grupoIngresado>
</div> 

<div #ingresados> 
    <div>
        <button (click)="agregarAlumno()"> Agregar --> </button> <br>
        
    </div> 
    <div>
        <label *ngFor="let item of listaParaGrupo, index as i">
            <h4>{{item.first_name}}</h4> 
            <h6>{{item.last_name}}</h6> 
            <button (click)="quitarAlumno(i)"> <-- Quitar </button>
        </label> 
        <br>
        <button (click)="limpiarGrupo()"> Resetear </button> 
        <button (click)="guardarGrupo(listaParaGrupo)"> Guardar </button>
    </div>
</div>
