<p>to-do-list works!</p>

<div id="ingresoDeTarea">
    <input (keyup.enter)="agregarTarea(laNuevaTarea)" type="text" #laNuevaTarea  > 
    <br> 
    <button (click)="agregarTarea(laNuevaTarea)">Agregar</button>
</div>

<div id="laLista" > 
    <div id="unaTarea" *ngFor="let item of lista, index as i" >
        <button (click)="tareaCompleta(i)">OK</button>
        <p [ngClass]="{completada: item.estado}">{{item.descripcion}}</p> 
        <button (click)="quitarTarea(i)">Quitar</button>
    </div>
</div> 